@use '../../styles/variables' as *;

.wishlist-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: $background-color;
    z-index: 100;
}